{% extends "base.html" %}
{% block app_content %}

    {% block jumbotron %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-2">
                <img src= "{{ url_for('static', filename = "logo.png") }}" alt="image" width="120" height="120">
            </div>
            <div class="col-md-4">
                <h3>Bem vindo ao</h3>
                <h2><b>Smart AniMon</b></h2>
            </div>
        </div>
    </div>
{% endblock jumbotron %}

{% endblock %}