{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

     {% block jumbotron %}

    <h1>{{ title }}</h1>
    <div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form, button_map={'inserir_label':'primary'}) }}
    <hr>
    {{ pagination.info }}
    <table  class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Labels</th>
                <th>Animal</th>
                <th>Ação</th>                  
            </tr>
        </thead>
        <tbody>
            {% if labels %}
            {% for document in labels %}
            {% set _id = document['_id'] %}
            <tr>
                <td>{{ loop.index + pagination.skip }}</td>
                <td>
                    {% for label in document['labels'] %}
                    {{ label }} <br/>
                    {% endfor %}
                </td>
                <td>
                    {{ document['animal'] }} <br>
                </td>
                <td>
                <a href='/label?action=2&_id={{ _id }}'>Excluir</a>
                </td>
                
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {{ pagination.links }}
    </div>
    </div>

    {% endblock jumbotron %}



{% endblock %}