{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

     {% block jumbotron %}

    <h1>{{ title }}</h1>
    <div class="row">
    <div class="col-md-4">
        {{ wtf.quick_form(form, button_map={'search':'primary'}) }}
    </div>
    </div>
    <hr>
    {{ pagination.info }}
    <table  class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Módulo</th>
                <th>Localização</th>
                <th>Data da Captura</th>
                <th>Temperatura (°C)</th>
                <th>Umidade (%)</th>
                <th>Imagem</th>
                
            </tr>
        </thead>
        <tbody>
            {% if monitored_animals %}
            {% for document in monitored_animals %}
            {% set _id = document['_id'] %}
            <tr>
                <td>{{ loop.index + pagination.skip }}</td>
                <td>{{ document.id }}</td>
                <td>
                    Latitude = {{ document.localization.latitude }} <br>
                    Longitude = {{ document.localization.longitude }}
                </td>
                <td>{{ document.capture_date }}</td>
                <td>{{ document.temperature }}</td>
                <td>{{ document.humidity }}</td>
                <td>
                    <a href='/animal?_id={{ _id }}&back=monitored'>
                    <img src= "{{ url_for('static', filename = document.image) }}" alt="image" width="90" height="60">
                    </a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {{ pagination.links }}
    {% endblock jumbotron %}



{% endblock %}