{% extends 'base.html' %}

{% block app_content %}

     {% block jumbotron %}

    <h1>{{ title }}</h1>

    <hr>
    {{ pagination.info }}
    <table  class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Imagem</th>
                <th>Data</th>
                <th>Labels Encontradas</th>
                <th>Labels Pesquisadas</th>
                <th>Animal</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% if notifications %}
            {% for document in notifications %}
            {% set file = "resources/{}.jpg".format(document['animal_id']) %}
            {% set _id = document['_id'] %}
            {% set animal_id = document['animal_id'] %}
            <tr>
                <td>{{ loop.index + pagination.skip }}</td>
                <td>
                    <a href='/animal?_id={{ animal_id }}&back=notification'>
                    <img src= "{{ url_for('static', filename = file) }}" alt="image" width="120" height="90">
                    </a>
                </td>
                <td>
                    {{ document['date'] }}
                </td>
                <td>
                    {% for label in document['identified_flags'] %}
                    <b>Descrição = </b> {{ label['description'] }}  - <b>Score =</b> {{ "{:.2f}%".format(label['score']*100) }}<br>
                    {% endfor %}
                </td>
                <td>
                    {% for label in document['flags']['labels'] %}
                    {{ label }}<br>
                    {% endfor %}
                </td>
                <td>
                    {{ document['flags']['animal'] }}<br>
                </td>
                <td>
                    <a href='/notification?action=1&_id={{ _id }}'>Marcar como Lida</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {{ pagination.links }}

    {% endblock jumbotron %}



{% endblock %}